@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serifs;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .19s;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-z: hidden;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #191919;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .6);
}

/*Start Logo & Navbar*/
header .logo {
    font-size: 25px;
    color: white;
    font-weight: bolder;
    display: flex;
    position: relative;
}

header .logo img {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
}

.logo span {
    margin-left: 10px;
    align-items: center;
    margin-top: 8px;
}

header .navbar {
    list-style: none;
}

header .navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0 1.5em;
    color: white;
}

.navbar a:hover {
    color: #B73E3E;
}

/*End Logo & Navbar*/


/*Start Icon Map*/

.icons {
    display: flex;
    gap: 1rem;
}

.icons ion-icon {
    width: 35px;
    height: 35px;
    list-style: none;
    color: white;
    text-decoration: none;
}

#hamburger-menu {
    display: none;
    text-decoration: none;
    color: #000;
    margin: auto 0;
}

#hamburger-menu ion-icon:hover {
    transform: translateY(0);
}

.icons ion-icon:hover {
    transform: translateY(-8px);
    transition: 0.5s;
    color: #B73E3E;
}

/*End Icon Map*/


/*Start Section Home Page*/

section {
    padding: 2rem 9%;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(background.png);
}

.home-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content h2 {
    font-size: 3.2rem;
    color: black;
    margin-top: 30px;
    align-items: center;
}

.content h2 span {
    font-size: 5rem;
    color: #B73E3E;
    text-align: center;
    align-items: center;
}

.home .content p {
    font-size: 1.5rem;
    color: #191919;
    padding: 1rem 0;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: bold;
    width: 360px;
}

/*.lest {
    color: red;
    margin-top: -20px;
}*/
.home .lest p {
    color: #803d00;
    margin-top: -20px;
    font-size: 2rem;
    font-weight: bold;
}

.home .btn-home {
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 2% 30px;
    color: white;
    margin-top: -90px;

}

.home .btn-home:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;
    color: black;
    box-shadow: 0px 0px 16px 0px #FFFCFC;
    border: 2px solid black;
}

.boba img {
    width: 300px;
    height: 400px;
    filter: drop-shadow(-3px -3px -2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

/*End Section Home Page*/

/*start best seller*/
.BestSeller {
    min-height: 100vh;
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background: rgb(2, 0, 36);
    background: #FFF6BF;
    /*background: linear-gradient(200deg, rgba(2,0,36,1) 0%, rgba(255,244,190,1) 0%, rgba(255,203,54,1) 100%);*/
    /*background: #232526;  */
    /*background: -webkit-linear-gradient(to left, #414345, #232526);  
background: linear-gradient(to right, #414345, #232526); */


}

.uuu {
    margin-top: 80px;
}

.BestSeller h1 {
    font-size: 6rem;
    color: #191919;
    text-align: center;
    /*  -webkit-text-stroke: 2px black;*/
}

.BestSeller span {
    font-size: 6rem;
    color: #B73E3E;
    padding: 1rem;
    line-height: 1.5;
}

.card {
    margin-top: 30px;
    width: 290px;
    height: 480px;

    background-color: #191919;
    box-shadow: -10px 20px 40px -1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
}

.card img {
    margin: 24px 20px 0px 20px;
    width: 100px;
    height: 120px;
    /*border-radius: 30px;*/
    border: none;
}

.name {
    line-height: 32px;
    margin-top: 21px;
    font-size: 24px;
    font-weight: 600;
    color: #B73E3E;
}

.description {
    margin: 10px 35px;
    font-size: 10px;
    letter-spacing: 1.2px;
    font-weight: 300;
    color: white;
}

button.btn {
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    width: 80%;
    height: 40px;
    background-color: #B73E3E;
    border: none;
    border-radius: 25px;
    display: inline-block;
    color: #FFFDFD;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #EDE4E0;
    color: black;
}

.slide-container {
    max-width: 890px;
    width: 100%;
    padding: 60px 0;
}

.slide-content {
    margin: 0 60px;
    border-radius: 25px;
}

.swiper-navBtn {
    color: #B73E3E;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: red;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
    color: #B73E3E;
    margin-top: -40px;
    font-weight: bold;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: red;
    opacity: 1;
    color: red;
}

.swiper-pagination-bullet-active {
    background-color: red;
    color: red;
}

.swiper-pagination {
    color: red;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    button .btn {
        width: 180px;
        height: 40px;
    }

    .swiper-navBtn {
        display: none;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    margin: 0 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20px;
    justify-content: center;
    color: #B73E3E;
    font-size: 15px;
}

/*end best seller*/

/*start product*/

.menu {
    min-height: 100vh;
    /*background: linear-gradient(45deg, #2C3639, #3F4E4F)*/
    ;
    background-color: #191919;
}

.top-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
    gap: 25%;
}

.menu h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
}

.pesan a.btnmenuuu {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 15px;
}

.btnmenuuu {
    background-color: #B73E3E;
    ;
    text-decoration: none;
    color: white;

}

.menu span {
    font-size: 6rem;
    color: #B73E3E;
    padding: 1rem;
    line-height: 1.5;
}

.pesan .btnmenuuu:hover {
    box-shadow: 0px 0px 10px 0px #FFFCFC;
    color: black;
    background-color: white;
}

.button-contener .button:hover {
    padding-left: 15px;
}

.index-post {
    width: 100%;

    transition: all 1.5s;
    height: 100%;
    overflow: hidden;
    margin-bottom: 4rem;
}

.wadah-container {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 4rem;
}

.contener {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #00000073;
    /*    transition: all 1.1s;*/
    transition: all .6s;
    border-radius: 30px;
}

.contener:hover {
    /*    transform: rotateY(180deg);*/
    transform: translateY(-10px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.image-contener {
    display: block;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-contener img {
    width: 100px;
    height: 120px;
    margin: 40px 0px 0px 70px;

}

.meta-contener {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    padding: 10px 20px;
}

.meta-contener .title {
    padding: 0;
    margin: 10px 0;
    font-size: 22px;
    color: #B73E3E;
    text-align: center;
}

.meta-contener .desc {
    font-size: 13px;
    text-align: center;
    color: #373737;
    margin-bottom: 10px;
}

.button-contener {
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;
}

.button-contener .button {
    width: 100%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, #00ff35 0%, #0091a7 60%);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
    margin-top: 40px;

}

/*end pro*/

/*start Section about*/

.About {
    min-height: 100vh;
    background-image: url(../image/bck.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main img {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 100%;
}

.image-active img {
    display: none;
}

/* .main img:before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 5%;
    width: 90%;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: -1;
} */

.main img:hover {
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.about h1 {
    color: black;
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 19px;
}

.about span {
    color: #B73E3E;
}

.about p {
    text-indent: 30px;
    font-size: 18px;
    color: black;
    width: 500px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: bolder;
}

/*Footer*/


.container {
    max-width: 1170px;
    margin: auto;
    /*   margin-top: 20px;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #191919;
    padding: 70px 9%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    /*margin-top: -20px;
   margin-bottom: 0;*/
}

.img img {
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 150px;
    margin-top: -40px;

}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #B73E3E;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col .grabfood img {
    width: 100px;
    height: 30px;
    margin-top: -5px;
}

.footer-col .gofood img {
    width: 100px;
    height: 110px;
    margin-top: -20px;
    margin-left: -2px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;


}

.footer-col .social-links .twitter a:hover {
    color: #24262b;
    background-color: #1ca1f1;
    transition: 0.5s;
}

.footer-col .social-links .instagram a {
    transition: .3s;
    display: inline-block;
}

.footer-col .social-links .instagram a:hover {
    color: #24262b;
    background: #12c2e9;
    background: rgb(131, 58, 180);
    background: linear-gradient(215deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    transition: 0.5s;
}

.container .credit {
    margin-top: 60px;
}

.container .credit p {
    font-size: 1.4rem;
    color: white;
    text-align: end;
}


/*responsive*/

@media(max-width: 884px) {

    /* navbar */
    #hamburger-menu {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 25rem;
        height: 60vh;
        transition: 1.5s all ease-in-out;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        /* border: 2px solid black; */
        box-shadow: 0px 5px 19px 1px #000;
    }

    header .navbar a {
        display: block;
        padding: .5rem;
        color: #000;
    }

    header .navbar ul {
        display: grid;
        padding: 30px;
        justify-content: center;
        row-gap: 1rem;
    }

    .navbar.active {
        right: 0;
    }

    /* end navbar */

    /* menu */
    .wadah-container {
        flex-wrap: wrap;
    }

    /* end menu */

    /* about */
    .main {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .main img {
        display: none;
    }

    .image-active img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 400px;
        height: 400px;
        margin-bottom: 70px;
    }

    /* end about */

    /* footer */
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    /* end footer */
}

@media(max-width: 574px) {
    html {
        font-size: 50%;
    }

    /* home */
    .boba img {
        display: none;
    }

    /* end home */

    /* product */
    .top-menu {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        row-gap: 2rem;
        margin-bottom: 2rem;
    }

    .pesan a.btnmenuuu {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* end product */

    /* about */
    .image-active img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        margin-bottom: 70px;
    }

    .about p{
        margin-top: -50px;
        width: 100%;
    }
    /* end about */
    .footer-col {
        width: 100%;
    }
}